# Eclipse local settings, nothing special for my projects:
/.settings/

# all the build output:
/Debug/
/Release/

# NXP config cache file, settings are with YAML in the sources:
*.mex
*.launch

# Personal config
/source/config/wifi_cfg.h